* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.donor-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #b71c1c, #e53935);
  display: flex;
  justify-content: center;
  align-items: center;
}

.donor-card {
  background: white;
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.donor-card h1 {
  color: #d32f2f;
  text-align: center;
}

.donor-card p {
  text-align: center;
  color: gray;
  margin-top: 10px;
  margin-bottom: 25px;
}

.donor-card input,
.donor-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.donor-card button {
  width: 100%;
  padding: 14px;
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.donor-card button:hover {
  background: #b71c1c;
}